<mdb-card class="cardAdd">
    <mdb-card-body>
        <mdb-card-title>
            <h4 class="text-center">Add Company</h4>
        </mdb-card-title>
        <form [formGroup]="addCompanyForm" novalidate autocomplete="off" class="well form-horizontal"
            (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyCode"><small class="requiredField">*</small>Code</label>
                            <input type="text" formControlName="companyCode" class="form-control" id="companyCode"
                                placeholder="Company Code">
                            <span class="text-danger"
                                *ngIf="(addCompanyFormControl.companyCode.touched || submitted) && addCompanyFormControl.companyCode.errors?.required">
                                Company code is required
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyName"><small class="requiredField">*</small>Company Name</label>
                            <input type="text" formControlName="companyName" class="form-control" id="companyName"
                                placeholder="Company Name">
                            <span class="text-danger"
                                *ngIf="(addCompanyFormControl.companyName.touched || submitted) && addCompanyFormControl.companyName.errors?.required">
                                Company name is required
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyCEO"><small class="requiredField">*</small>Company CEO</label>
                            <input type="text" formControlName="companyCEO" class="form-control" id="companyCEO"
                                placeholder="Company CEO">
                            <span class="text-danger"
                                *ngIf="(addCompanyFormControl.companyCEO.touched || submitted) && addCompanyFormControl.companyCEO.errors?.required">
                                Company CEO is required
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyTurnover"><small class="requiredField">*</small>Company Turnover</label>
                            <input type="number" formControlName="companyTurnover" class="form-control"
                                id="companyTurnover" placeholder="Company Turnover">
                            <div class="text-danger"
                                *ngIf="(addCompanyFormControl.companyTurnover.touched || submitted) && addCompanyFormControl.companyTurnover.errors?.required">
                                Company turnover is required
                            </div>
                            <div class="text-danger"
                                *ngIf="(addCompanyFormControl.companyTurnover.touched || submitted) && addCompanyFormControl.companyTurnover.errors?.gte">
                                Company turnover should be greater than
                                {{addCompanyFormControl.companyTurnover.errors.requiredValue}}cr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyWebsite"><small class="requiredField">*</small>Company Website</label>
                            <input type="text" formControlName="companyWebsite" class="form-control" id="companyWebsite"
                                placeholder="Company Website">
                            <span class="text-danger"
                                *ngIf="(addCompanyFormControl.companyWebsite.touched || submitted) && addCompanyFormControl.companyWebsite.errors?.required">
                                Company website is required
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyStockExchange"><small class="requiredField">*</small>Company Stock
                                Exchange</label>
                            <select class="form-control" formControlName="companyStockExchange"
                                id="companyStockExchange">
                                <option [value]="null" disabled>--Select--</option>
                                <option *ngFor="let exchange of stockExchangeList" [value]="exchange">
                                    {{exchange}}</option>
                            </select>
                            <span class="text-danger"
                                *ngIf="(addCompanyFormControl.companyStockExchange.touched || addCompanyFormControl.companyStockExchange.dirty || submitted) && addCompanyFormControl.companyStockExchange.errors?.required">
                                Company stock exchange is required
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <small class="requiredField">* <span>indicated fields are mandatory</span></small> 
                    </div>
                    <div class="col-md-6">
                        <div>
                            <button (click)="addCompanyForm.reset()" type="reset" mdbBtn type="button" color="secondary"
                                style="float:right;" class="waves-light" mdbWavesEffect>Reset</button>
                            <button mdbBtn [disabled]="!addCompanyForm.valid" type="button" type="submit"
                                color="primary" style="float:right;" class="waves-light" mdbWavesEffect>Add</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </mdb-card-body>
</mdb-card>