<div class="row-fluid mt-3">
    <div class="col-md-12">
        <div class="card">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Available companies</h3>
            <div class="card-body">
                <div id="table" class="table-editable">
                    <span class="table-add float-right mb-3 mr-2">
                        <a class="text-success" (click)="add()">
                            <mdb-icon fas icon="plus" size="2x"></mdb-icon>
                        </a>
                    </span>
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                        <tr>
                            <th class="text-center">Code</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">CEO</th>
                            <th class="text-center">Turnover</th>
                            <th class="text-center">Website</th>
                            <th class="text-center">Stock Exchange</th>
                            <th class="text-center">Sort</th>
                            <th class="text-center">Remove</th>
                        </tr>
                        <tr *ngFor="let company of companyList; let id = index">
                            <td>
                                <span (keyup)="changeValue(id, 'code', $event)" (blur)="updateList(id, 'code', $event)"
                                    contenteditable="true">{{company.code}}</span>
                            </td>
                            <td>
                                <span contenteditable="true" (keyup)="changeValue(id, 'name', $event)"
                                    (blur)="updateList(id, 'name', $event)">{{company.name}}</span>
                            </td>
                            <td>
                                <span contenteditable="true" (keyup)="changeValue(id, 'ceo', $event)"
                                    (blur)="updateList(id, 'ceo', $event)">{{company.ceo}}</span>
                            </td>
                            <td>
                                <span contenteditable="true" (keyup)="changeValue(id, 'turnover', $event)"
                                    (blur)="updateList(id, 'turnover', $event)">{{company.turnover}}</span>
                            </td>
                            <td>
                                <span contenteditable="true" (keyup)="changeValue(id, 'website', $event)"
                                    (blur)="updateList(id, 'website', $event)">{{company.website}}</span>
                            </td>
                            <td>
                                <!-- <span contenteditable="true" (keyup)="changeValue(id, 'stockExchange', $event)"
                                    (blur)="updateList(id, 'stockExchange', $event)">{{company.stockExchange}}</span> -->

                                <select id="companyStockExchange" contenteditable="true"
                                    (keyup)="changeValue(id, 'stockExchange', $event)"
                                    (blur)="updateList(id, 'stockExchange', $event)">
                                    <option [value]="null" disabled>--Select--</option>
                                    <option *ngFor="let exchange of stockExchangeList" [value]="exchange">
                                        {{exchange}}</option>
                                </select>
                            </td>
                            <td>
                                <span class="table-up">
                                    <a class="indigo-text">
                                        <mdb-icon fas icon="long-arrow-alt-up"></mdb-icon>
                                    </a>
                                </span>
                                <span class="table-down">
                                    <a class="indigo-text">
                                        <mdb-icon fas icon="long-arrow-alt-down"></mdb-icon>
                                    </a>
                                </span>
                            </td>
                            <td>
                                <span class="table-remove">
                                    <button type="button" mdbBtn color="danger" size="sm" class="my-0"
                                        (click)="remove(id)">Remove</button>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>