@media all and (min-width: 768px) {
    tr  {
      td {
        vertical-align: middle !important;
      }
      span {
        &:not([class]) {
          padding: 1rem 1rem;
        }
      }
    }
  }

  .requiredField{
    color: red;
}
.cardAdd{
    width: 50%;
    background: #f3f3f3;
    margin: auto;
    margin-top: 2rem;
}