<div class="row-fluid mt-3">
    <div class="col-md-12">
        <div class="card">
            <h3 class="card-header font-weight-bold py-2">Available companies</h3>
            <div class="card-body" style="padding: 0.5rem;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form">
                                <input type="text" [(ngModel)]="searchText" (ngModelChange)="searchItems()"
                                    class="form-control" id="search" mdbInput />
                                <label for="search">Search Company</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="button" (click)="addCompany.show()" mdbBtn color="primary" size="sm"
                                class="my-0" style="float: right;margin-top: 1.5rem !important;">
                                <mdb-icon fas icon="plus-circle"></mdb-icon> Add Company
                            </button>
                        </div>
                    </div>
                    <table id="listTable" mdbTable #tableEl="mdbTable" dbTableScroll scrollY="true" maxHeight="100"
                        class="z-depth-1">
                        <thead>
                            <tr>
                                <th class="font-weight-bold stylish-color" aria-controls="listTable"
                                    [mdbTableSort]="companyList" [sortBy]="'code'" scope="col" style="color: #ffffff;">
                                    Code <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th class="font-weight-bold stylish-color" aria-controls="listTable"
                                    [mdbTableSort]="companyList" [sortBy]="'name'" scope="col" style="color: #ffffff;">
                                    Name <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th class="font-weight-bold stylish-color" aria-controls="listTable"
                                    [mdbTableSort]="companyList" [sortBy]="'ceo'" scope="col" style="color: #ffffff;">
                                    CEO <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th class="font-weight-bold stylish-color" aria-controls="listTable"
                                    [mdbTableSort]="companyList" [sortBy]="'turnover'" scope="col"
                                    style="color: #ffffff;">Turnover <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th class="font-weight-bold stylish-color" aria-controls="listTable"
                                    [mdbTableSort]="companyList" [sortBy]="'website'" scope="col"
                                    style="color: #ffffff;">Website <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th class="font-weight-bold stylish-color" aria-controls="listTable"
                                    [mdbTableSort]="companyList" [sortBy]="'stockExchange'" scope="col"
                                    style="color: #ffffff;">Stock Exchange <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th class="font-weight-bold stylish-color" style="color: #ffffff;">View</th>
                                <th class="font-weight-bold stylish-color" style="color: #ffffff;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let el of companyList; let i = index">
                                <td
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                    {{el.code}}</td>
                                <td
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                    {{el.name}}</td>
                                <td
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                    {{el.ceo}}</td>
                                <td
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                    {{el.turnover}}</td>
                                <td
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                    <a href="{{el.website}}" target="_blank">{{el.website}}</a></td>
                                <td
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                    {{el.stockExchange}}</td>
                                <td
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                    <button type="button" mdbBtn color="primary" size="sm" class="my-0"
                                        (click)="viewStockDetails(el.id)">
                                        <mdb-icon fas icon="eye"></mdb-icon> View Stock Details
                                    </button>
                                </td>
                                <td
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                    <button type="button" mdbBtn color="danger" size="sm" class="my-0"
                                        (click)="remove(el.id)">
                                        <mdb-icon fas icon="trash"></mdb-icon> Delete Company
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="grey lighten-5 w-100">
                            <tr>
                                <td colspan="8">
                                    <mdb-table-pagination #companyPagination [tableEl]="tableEl"
                                        [searchDataSource]="companyList">
                                    </mdb-table-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div mdbModal #stockDetails="mdbModal" class="modal fade left" id="stockDetails" tabindex="-1" role="dialog"
    aria-labelledby="stockDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Stock details of {{selectedCompany?.name}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="stockDetails.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="container-fluid" *ngIf="selectedCompany; else nodatafound">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="d-flex justify-content-start">
                                <p class="mr-2"><strong style="font-weight: bold;color: #00695c;">From: </strong><input
                                        [formControl]="fromDate" type="date"></p>
                                <p><strong style="font-weight: bold;color: #00695c;">To: </strong><input
                                        [formControl]="toDate" type="date"></p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button style="float: right;" type="button" mdbBtn color="primary" size="sm" class="my-0"
                            (click)="showAll()">
                            <mdb-icon fas icon="undo"></mdb-icon> Show all
                        </button>
                        </div>
                    </div>
                    <table id="listStockTable" mdbTable #stockTableEl="mdbTable" dbTableScroll scrollY="true"
                        maxHeight="200" class="z-depth-1">
                        <thead>
                            <tr>
                                <th class="font-weight-bold stylish-color" aria-controls="listStockTable"
                                    [mdbTableSort]="selectedCmpStkList" [sortBy]="'price'" scope="col"
                                    style="color: #ffffff;">
                                    Stock Price <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th class="font-weight-bold stylish-color" aria-controls="listStockTable"
                                    [mdbTableSort]="selectedCmpStkList" [sortBy]="'date'" scope="col"
                                    style="color: #ffffff;">
                                    Date <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th class="font-weight-bold stylish-color" aria-controls="listStockTable"
                                    [mdbTableSort]="selectedCmpStkList" [sortBy]="'time'" scope="col"
                                    style="color: #ffffff;">
                                    Time <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let el of selectedCmpStkList; let i = index">
                                <td *ngIf="i+1 >= stockTablePgn.firstItemIndex && i < stockTablePgn.lastItemIndex">
                                    {{el.price}}</td>
                                <td *ngIf="i+1 >= stockTablePgn.firstItemIndex && i < stockTablePgn.lastItemIndex">
                                    {{getFormattedDate(el.date)}}</td>
                                <td *ngIf="i+1 >= stockTablePgn.firstItemIndex && i < stockTablePgn.lastItemIndex">
                                    {{getFormattedTime(el.time)}}</td>
                            </tr>
                        </tbody>
                        <tfoot class="grey lighten-5 w-100">
                            <tr>
                                <td colspan="3">
                                    <mdb-table-pagination #stockTablePgn [tableEl]="stockTableEl"
                                        [searchDataSource]="selectedCmpStkList">
                                    </mdb-table-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <ng-template #nodatafound>
                    <p class="text-center">No stock details found</p>
                </ng-template>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <p><strong style="font-weight: bold;color: #00695c;">Min:</strong> {{stockMin?.price}}</p>
                        </div>
                        <div class="col-sm-4">
                            <p><strong style="font-weight: bold;color: #00695c;">Max:</strong> {{stockMax?.price}}</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-right"><strong style="font-weight: bold;color: #00695c;">Avg:</strong>
                                {{stockAvg}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div mdbModal #addCompany="mdbModal" class="modal fade left" id="addCompany" tabindex="-1" role="dialog"
    aria-labelledby="addCompanyLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add Company</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="addCompany.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <form [formGroup]="addCompanyForm" novalidate autocomplete="off" class="well form-horizontal"
                    (ngSubmit)="onSubmit()">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="companyCode"><small class="requiredField">*</small>Code</label>
                                    <input type="text" formControlName="companyCode" class="form-control"
                                        id="companyCode" placeholder="Company Code">
                                    <span class="text-danger"
                                        *ngIf="(addCompanyFormControl.companyCode.touched || submitted) && addCompanyFormControl.companyCode.errors?.required">
                                        Company code is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="companyName"><small class="requiredField">*</small>Company Name</label>
                                    <input type="text" formControlName="companyName" class="form-control"
                                        id="companyName" placeholder="Company Name">
                                    <span class="text-danger"
                                        *ngIf="(addCompanyFormControl.companyName.touched || submitted) && addCompanyFormControl.companyName.errors?.required">
                                        Company name is required
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="companyCEO"><small class="requiredField">*</small>Company CEO</label>
                                    <input type="text" formControlName="companyCEO" class="form-control" id="companyCEO"
                                        placeholder="Company CEO">
                                    <span class="text-danger"
                                        *ngIf="(addCompanyFormControl.companyCEO.touched || submitted) && addCompanyFormControl.companyCEO.errors?.required">
                                        Company CEO is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="companyTurnover"><small class="requiredField">*</small>Company
                                        Turnover</label>
                                    <input type="number" formControlName="companyTurnover" class="form-control"
                                        id="companyTurnover" placeholder="Company Turnover">
                                    <div class="text-danger"
                                        *ngIf="(addCompanyFormControl.companyTurnover.touched || submitted) && addCompanyFormControl.companyTurnover.errors?.required">
                                        Company turnover is required
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="(addCompanyFormControl.companyTurnover.touched || submitted) && addCompanyFormControl.companyTurnover.errors?.gte">
                                        Company turnover should be greater than
                                        {{addCompanyFormControl.companyTurnover.errors.requiredValue}}cr
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="companyWebsite"><small class="requiredField">*</small>Company
                                        Website</label>
                                    <input type="text" formControlName="companyWebsite" class="form-control"
                                        id="companyWebsite" placeholder="Company Website">
                                    <span class="text-danger"
                                        *ngIf="(addCompanyFormControl.companyWebsite.touched || submitted) && addCompanyFormControl.companyWebsite.errors?.required">
                                        Company website is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="companyStockExchange"><small class="requiredField">*</small>Company
                                        Stock
                                        Exchange</label>
                                    <select class="form-control" formControlName="companyStockExchange"
                                        id="companyStockExchange">
                                        <option [value]="null" disabled>--Select--</option>
                                        <option *ngFor="let exchange of stockExchangeList" [value]="exchange">
                                            {{exchange}}</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="(addCompanyFormControl.companyStockExchange.touched || addCompanyFormControl.companyStockExchange.dirty || submitted) && addCompanyFormControl.companyStockExchange.errors?.required">
                                        Company stock exchange is required
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <small class="requiredField">* <span>indicated fields are mandatory</span></small>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <button (click)="addCompanyForm.reset()" type="reset" mdbBtn type="button"
                                        color="secondary" style="float:right;" class="waves-light"
                                        mdbWavesEffect>Reset</button>
                                    <button mdbBtn [disabled]="!addCompanyForm.valid" type="button" type="submit"
                                        color="primary" style="float:right;" class="waves-light"
                                        mdbWavesEffect>Add</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="default" data-dismiss="modal" aria-label="Close" (click)="addCompany.hide()"
                    class="waves-light" mdbWavesEffect>Close</button>
            </div> -->
        </div>
    </div>
</div>